For a more complex data set it may need to be split multiple times to come up with the decision boundaries 
This is different in comparison to a simple data set where ridge regression can be used to draw when line for the decision boundaries
The order which the decsion tree is split up is important 
The order which the data sets attributes are selected will affect performance
To select the ordering system - 
You want an ordering to get a pure subset that gives the lowest entropy (the measure of randomness in the sample)
For example splitting the teams that average over a certain amount of points into groups. There may be a group that averages over a certain amount of points that always win their games. 1:3 or 6:2 win vs losses for the teams in hypothetical groups is relatively low entropy. This is low Entropy. Having a 50/50 split means there is a high entropy and the entopy is 1 total randomness. When teams are split up into groups based off of attributes you want the majority of the results to either be that the team wins or loses. 
With an ordering system that achieves low entropy there is a High Information Gain 
With an ordering system that achieves high entropy there is a Low Information Gain
Using an approach that leads to high information gain at every decision split 
Gini Impurity 
Where after splitting a sample ( putting a line at the midpoint for example there may be majority wins at the top and majority losses at the bottom but there might be one data point where ther is a win at the bottom) there wil be an anomalous data point. The decision split is almost pure but there is a little bit of impurity. Similar to entropy. Mathematics

In [3]:
import pandas as pd 
df = pd.read_csv("nba_games.csv", index_col=0)
df = df.reset_index(drop = True)
df = df.sort_values("date")
df = df.reset_index(drop = True)
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240,240,33,87,0.379,5,16,0.313,22,29,...,36.8,40.4,150,105,PHI,84,0,2016,01/01/2016,True
1,240,240,43,92,0.467,8,26,0.308,9,10,...,33.3,44.9,200,120,ORL,91,0,2016,01/01/2016,True
2,240,240,36,91,0.396,15,33,0.455,17,18,...,31.7,30.6,174,130,CHO,94,0,2016,01/01/2016,True
3,240,240,31,84,0.369,6,19,0.316,13,17,...,50.0,42.7,195,102,CHI,108,1,2016,01/01/2016,False
4,240,240,34,85,0.400,10,32,0.313,16,18,...,43.6,25.8,150,120,TOR,104,1,2016,01/01/2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240,240,43,97,0.443,16,38,0.421,19,21,...,16.8,36.4,160,137,CLE,118,1,2022,31/12/2021,True
17768,240,240,47,85,0.553,19,41,0.463,26,30,...,26.2,31.1,165,146,POR,106,0,2022,31/12/2021,True
17769,240,240,36,102,0.353,12,42,0.286,22,27,...,24.0,46.7,286,117,LAL,139,1,2022,31/12/2021,False
17770,240,240,41,100,0.410,11,35,0.314,15,16,...,37.5,34.3,178,117,BOS,123,1,2022,31/12/2021,False
17771,240,240,35,86,0.407,12,27,0.444,26,30,...,50.0,50.2,217,120,IND,106,1,2022,31/12/2021,True

In [5]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [6]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240,33,87,0.379,5,16,0.313,22,29,0.759,...,36.8,40.4,150,105,PHI,84,0,2016,01/01/2016,True
1,240,43,92,0.467,8,26,0.308,9,10,0.900,...,33.3,44.9,200,120,ORL,91,0,2016,01/01/2016,True
2,240,36,91,0.396,15,33,0.455,17,18,0.944,...,31.7,30.6,174,130,CHO,94,0,2016,01/01/2016,True
3,240,31,84,0.369,6,19,0.316,13,17,0.765,...,50.0,42.7,195,102,CHI,108,1,2016,01/01/2016,False
4,240,34,85,0.400,10,32,0.313,16,18,0.889,...,43.6,25.8,150,120,TOR,104,1,2016,01/01/2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240,43,97,0.443,16,38,0.421,19,21,0.905,...,16.8,36.4,160,137,CLE,118,1,2022,31/12/2021,True
17768,240,47,85,0.553,19,41,0.463,26,30,0.867,...,26.2,31.1,165,146,POR,106,0,2022,31/12/2021,True
17769,240,36,102,0.353,12,42,0.286,22,27,0.815,...,24.0,46.7,286,117,LAL,139,1,2022,31/12/2021,False
17770,240,41,100,0.410,11,35,0.314,15,16,0.938,...,37.5,34.3,178,117,BOS,123,1,2022,31/12/2021,False
17771,240,35,86,0.407,12,27,0.444,26,30,0.867,...,50.0,50.2,217,120,IND,106,1,2022,31/12/2021,True

In [7]:
def get_target(team):
    team["target"] = team["won"].shift(-1)
    return team

df = df.groupby("team", group_keys=False).apply(get_target)

In [9]:
df[df["team"] =="LAL"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240,33,87,0.379,5,16,0.313,22,29,0.759,...,40.4,150,105,PHI,84,0,2016,01/01/2016,True,False
14,240,37,92,0.402,15,32,0.469,25,31,0.806,...,41.0,226,128,TOR,123,0,2017,01/01/2017,False,False
25,240,34,76,0.447,8,26,0.308,20,29,0.690,...,30.1,177,105,MIN,114,1,2018,01/01/2018,False,True
40,240,43,90,0.478,7,28,0.250,24,34,0.706,...,39.1,204,125,PHO,107,0,2020,01/01/2020,True,True
65,240,41,101,0.406,14,33,0.424,13,16,0.813,...,31.8,139,117,SAS,103,1,2021,01/01/2021,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17636,240,45,91,0.495,12,26,0.462,11,14,0.786,...,28.8,146,123,DET,93,0,2018,31/10/2017,True,True
17647,240,43,84,0.512,10,17,0.588,18,24,0.750,...,32.6,227,115,DAL,113,0,2019,31/10/2018,True,True
17665,240,39,96,0.406,9,31,0.290,8,13,0.615,...,28.4,208,103,HOU,85,0,2022,31/10/2021,True,False
17697,290,53,105,0.505,10,25,0.400,26,37,0.703,...,32.1,171,130,HOU,148,1,2018,31/12/2017,False,True
17768,240,47,85,0.553,19,41,0.463,26,30,0.867,...,31.1,165,146,POR,106,0,2022,31/12/2021,True,NaN

In [10]:
df["team"]

0        LAL
1        WAS
2        TOR
3        NYK
4        CHO
        ...
17767    ATL
17768    LAL
17769    POR
17770    PHO
17771    CHI
Name: team, Length: 17772, dtype: object

In [11]:
df["target"][pd.isnull(df["target"])] = 2

C:\Users\Garnet\AppData\Local\Temp\ipykernel_16584\1618397414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [12]:
df["target"] = df["target"].astype(int, errors="ignore")

In [13]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240,33,87,0.379,5,16,0.313,22,29,0.759,...,40.4,150,105,PHI,84,0,2016,01/01/2016,True,0
1,240,43,92,0.467,8,26,0.308,9,10,0.900,...,44.9,200,120,ORL,91,0,2016,01/01/2016,True,0
2,240,36,91,0.396,15,33,0.455,17,18,0.944,...,30.6,174,130,CHO,94,0,2016,01/01/2016,True,1
3,240,31,84,0.369,6,19,0.316,13,17,0.765,...,42.7,195,102,CHI,108,1,2016,01/01/2016,False,0
4,240,34,85,0.400,10,32,0.313,16,18,0.889,...,25.8,150,120,TOR,104,1,2016,01/01/2016,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240,43,97,0.443,16,38,0.421,19,21,0.905,...,36.4,160,137,CLE,118,1,2022,31/12/2021,True,2
17768,240,47,85,0.553,19,41,0.463,26,30,0.867,...,31.1,165,146,POR,106,0,2022,31/12/2021,True,2
17769,240,36,102,0.353,12,42,0.286,22,27,0.815,...,46.7,286,117,LAL,139,1,2022,31/12/2021,False,2
17770,240,41,100,0.410,11,35,0.314,15,16,0.938,...,34.3,178,117,BOS,123,1,2022,31/12/2021,False,2
17771,240,35,86,0.407,12,27,0.444,26,30,0.867,...,50.2,217,120,IND,106,1,2022,31/12/2021,True,2

In [14]:
df["won"].value_counts()

True     8886
False    8886
Name: won, dtype: int64

In [15]:
df["target"].value_counts()

1    8872
0    8870
2      30
Name: target, dtype: int64

In [17]:
nulls = pd.isnull(df)
nulls = nulls.sum()
nulls = nulls[nulls > 0]
nulls

+/-             17772
mp_max          17772
mp_max.1        17772
+/-_opp         17772
mp_max_opp      17772
mp_max_opp.1    17772
dtype: int64

In [20]:
valid_columns = df.columns[~df.columns.isin(nulls.index)]
valid_columns

Index(['mp', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=142)

In [21]:
df = df[valid_columns].copy()
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240,33,87,0.379,5,16,0.313,22,29,0.759,...,40.4,150,105,PHI,84,0,2016,01/01/2016,True,0
1,240,43,92,0.467,8,26,0.308,9,10,0.900,...,44.9,200,120,ORL,91,0,2016,01/01/2016,True,0
2,240,36,91,0.396,15,33,0.455,17,18,0.944,...,30.6,174,130,CHO,94,0,2016,01/01/2016,True,1
3,240,31,84,0.369,6,19,0.316,13,17,0.765,...,42.7,195,102,CHI,108,1,2016,01/01/2016,False,0
4,240,34,85,0.400,10,32,0.313,16,18,0.889,...,25.8,150,120,TOR,104,1,2016,01/01/2016,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240,43,97,0.443,16,38,0.421,19,21,0.905,...,36.4,160,137,CLE,118,1,2022,31/12/2021,True,2
17768,240,47,85,0.553,19,41,0.463,26,30,0.867,...,31.1,165,146,POR,106,0,2022,31/12/2021,True,2
17769,240,36,102,0.353,12,42,0.286,22,27,0.815,...,46.7,286,117,LAL,139,1,2022,31/12/2021,False,2
17770,240,41,100,0.410,11,35,0.314,15,16,0.938,...,34.3,178,117,BOS,123,1,2022,31/12/2021,False,2
17771,240,35,86,0.407,12,27,0.444,26,30,0.867,...,50.2,217,120,IND,106,1,2022,31/12/2021,True,2

In [22]:
from sklearn import tree

In [23]:
model = tree.DecisionTreeClassifier()